@import "../../../styles/variables";
@import "../../../styles/animations";

.login{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgb(11, 11, 44) 0%, rgb(0, 0, 0) 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .content{
    background-image: linear-gradient( rgba(91, 0, 139,0.3) 0%, rgba(11, 11, 44,0.3) 100%);
    clip-path: polygon(0% 4%, 46% 4%, 50% 0%, 54% 4%, 100% 4%, 100% 100%, 0% 100% );
    position: relative;
    width: 20%;
    border-radius: 2rem;
    .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2rem;
      & > div:first-child{
        margin-top: 15%;
      }
      .row__input{
        border: 1px solid $color-white;
        border-radius: .5rem;
        margin-bottom: 1.5rem;
        width: 80%;

        i{
          display: inline-block;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 2rem;
          vertical-align: middle;
        }

        input[type="text"],
        input[type="password"]{
          display: inline-block;
          height: 100%;
          background-color: transparent;
          color: $color-white;
          border: none;
          font-size: 1.5rem;
          border-radius: .3em;
          outline: none;
        }
    

      }

     
    .remember__me{
      color: $color-grey;
    }
    
    .options{
      width: 80%;
      display: flex;
      margin-top: 0.2rem;
      justify-content: space-between;
      font-size: 1.5rem;
  
      span, .a__no-style{
        color: $color-grey;
      }
      span{
        margin-left: 1.3rem;
      }    
    }

  }

}

}

  .btn{
    margin-top: 1rem;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    height: 4rem;
    background-color: $color-white;
    cursor: pointer;
    border-radius: .5rem;
    border: none;

    &:hover {
      transform: translateY(0.3rem);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19); 
    }
    &:active {
    transform: translateY(0.4rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
  }
    &:active:after {
      transform: scale(1.5);
      opacity: 0; 
    }

  }  


  .icon-logoMaot::before {
    content: "\e900";
    position: absolute;
    left: 50%;
    top:calc(50% - 10%);
    transform: translate(-50%,-50%);
    font-size: 6rem;
    display: inline-block;
    margin-right: 2rem;
    background-image: linear-gradient(to right, rgba(74, 139, 109, 0.9), rgba(24, 176, 236, 0.9));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
