<div class="body">
  <app-menu [animations]="'d'" ></app-menu>
  <i  class="icon-logoMaot" ></i>
  <div class="login">
    <div class="content">
      <form action="" class="form">
        <div class="row__input">
          <i class="material-icons">person</i>
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="row__input">
          <i class="material-icons">password</i>
          <input type="password" name="pass" placeholder="Password">
        </div>
        <div class="options">
            <mat-checkbox class="remember__me">remember me</mat-checkbox>
          <label>
            <a class="a__no-style" href="">Forgot Password?</a>
          </label>
        </div>
        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </div>

</div>