@import "../styles/variables";


mat-toolbar {
  background-image: linear-gradient(to right, $color-light-blue , $color-dark-blue );
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.mat-toolbar__title{
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
  white-space: nowrap;
  border-right: 0.4rem solid;
  width: 20ch;
  animation: typing 3s steps(20) 2s,
  eraseBorder 3s steps(20) 2s;
  animation-fill-mode: both;
  overflow: hidden;
}
  

.icon-logoMaot::before{
  content: "\e900";
  font-size: 6rem;
  display: inline-block;
  margin-right: 2rem;
  background-image: linear-gradient(to right, $color-grey,$color-white);
  -webkit-background-clip: text;
  color: transparent;
  animation: moveFromRight 3s ease-in-out 2s backwards;
}



@keyframes typing {
  from{
     width: 0;
  }
  to{
     width: 20ch;
  }
 }
 
 @keyframes eraseBorder {
   0%{
     border-right: none;
   }
   1%{
     border-right: 0.4rem solid;
   }
   99%{
     border-right: 0.4rem solid;
   }
   100%{
     border-right: none;
   }
   
 }

 @keyframes moveFromRight {
  0%{
    transform: translateX(30rem);
  }
  95%{
    transform: translateX(-2%);
  }
   
  100%{
    transform: translateX(0);
  }
 }
 