<div class="body">
  <app-menu></app-menu>
  <div class="container">
    <header class="header">
      <div class="header__text-box">
        <h1>About me</h1>
        <span class="description">Proyecto personal para practicar mis habilidades como desarrollador, enfocado en el desarrollo web y dirigido al full stack...</span>
        <span class="purpose">El proposito es mejorar tanto mis habilidades como mi hoja de vida, poner en practica las lecturas y cursos realizados...</span>
  
      </div>
    </header>
  </div>
</div>
